body {
  background: grey;
  text-align: center;
}

.progress {
  margin-top: 2%;
}

.progress-bar.progress-bar-striped.bg-success {
  background-color: green;
}

.badge {
  background-color: #c9302c;
}

#email-us {
  margin-top: 35%;
}

div#sensitivity-slider {
  margin-top: 5%;
}

#download-app-osx{
  margin-top: 10%;
  text-align: center;
}